/* Menü elemanlarını ve footer(altbar)'ı arkaplanlarını(background) renklendirmek için verilen renk kodlarını kullanın:



- [ ] Footer'ın arka plan rengi: `#F9E7DC` */

* {
  border: 1px solid green;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto Mono";
}
header {
  height: 10vh;
}

header nav {
  display: block;
  align-items: center;
  height: 10vh;
  width: 90vw;
  float: left;
  margin: 0 5vw;
}

header nav a {
  display: inline-block;
  height: 90%;
  width: 20vw;
  margin: 0.3rem 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 12;
  vertical-align: top;
}
.nav1 {
  background-color: #ff764e;
}
.nav2 {
  background-color: #5ed3eb;
}
.nav3 {
  background-color: #ffcd69;
}
.giris {
  display: block;
  height: 45vh;
  position: relative;
}
.giris-foto {
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 100%;
}
.giris-baslik {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
  margin: 0 0 0 40%;
  font-family: "Chelsea Market";
}
.giris img {
  height: 200px;
  width: 200px;
  object-fit: fill;
  border-radius: 100px;
  margin: 5%;
}
h1 {
  text-align: center;
  margin: 15px 0px;
}
p {
  text-align: center;
  margin-top: 15px;
}

.aciklama {
  height: 20vh;
  background-color: #ddb9a3;
}
.aciklama-ilk-paragraf {
  margin-top: 0px;
}

.gezi-cesitleri {
  display: block;
  width: 220px;
  margin: 0px auto;
}

.gezi-foto {
  display: block;
  width: 30%;
  margin: auto;
}

footer nav {
  display: block;
  align-items: center;
  height: 10vh;
  width: 90vw;
  float: left;
  margin: 15px 5vw auto 5vw;
}

footer nav a {
  display: inline-block;
  height: 90%;
  width: 30%;
  margin-top: 0.3rem;
  margin-left: rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 12;
  vertical-align: top;
}

footer {
  height: 50vh;
  background-color: #f9e7dc;
}

.footer-foto {
  height: 70%;
  background-image: url("./assets/footer_img.jpg");
  /* background-image: url("./assets/header_img.jpg"); */
  background-repeat: none;

  position: relative;
}
span {
  font-weight: bold;
}
